# mac
.DS_Store

# .zshenv local override
.zshenv.local

# vim swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# vim local override
.vimrc.local

# asciidoc html backend
**/*.html

.gradle/

.classpath
.gitignore
.project
.settings/

.idea/
misc.iml

